.home__page {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.home__page__content {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__page__start {
    width: 100%;
    height: calc(100vh - 175px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.home__page__start__left img {
    height: 250px;
}

.vertical__line {
    width: 2px;
    height: 250px;
    background-color: rgb(10, 135, 31);
}

.vertical__line2 {
    width: 2px;
    height: 180px;
    background-color: rgb(10, 135, 31);
}


.home__page__start__right {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 40px;
}

.home__page__start__right h2 {
    font-size: 34px;
    color: rgb(10, 135, 31);
    letter-spacing: 1px;
}

.home__page__start__right p {
    letter-spacing: 1px;
    font-size: 18px;
}

.home__page__start__right button {
    padding: 4px 16px 2px 16px;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    color: rgb(10, 135, 31);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.home__page__start__right button::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: rgb(10, 135, 31);
    transform: translate(-50%) scale(0);
    transition: 0.5s ease-in-out;
}

.home__page__start__right button:hover::before {
    transform: translateX(-50%) scale(1);
}

.home__page__service {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}


.home__page__service__top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 80px;
}

.home__page__service h1 {
    font-size: 36px;
    letter-spacing: 2px;
    text-align: center;
}

.home__page__service__bottom {
    width: 100%;
}

#home__page__services__subtitle {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
}

.slick-prev:before,
.slick-next:before {
    color: rgb(10, 135, 31) !important;
    font-size: 30px !important;
}

.slick-track {
    margin-left: 20px !important;
    margin-bottom: 15px;
    cursor: pointer;
}

.slick-dots li button:before {
    color: rgb(10, 135, 31) !important;
}



.home__page__about {
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    gap: 30px;
}

.home__page__about__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home__page__about__left h1 {
    margin-bottom: 15px;
}

.home__page__about__right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__page__about__right p {
    text-align: justify;
    letter-spacing: 1px;
}

.home__page__about__right a {
    letter-spacing: 2px;
    text-decoration: underline;
    color: rgb(10, 135, 31);
}

.home__page__contact {
    width: 100%;
    height: auto;
    margin-bottom: -20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.home__page__contact__top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 80px;
}

.home__page__contact h1 {
    font-size: 36px;
    letter-spacing: 2px;
    text-align: center;
}

.home__page__contact__middle {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home__page__contact__bottom {
    width: 85%;
    background-color: rgb(255, 255, 255);
    position: relative;
    bottom: 120px;
    border-radius: 10px;
}

.form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.form__content {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form__top {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    gap: 20px;
}

.form__top input {
    width: 40%;
    height: 35px;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid rgb(10, 135, 31);
    font-size: 14px;
}

#input__name {
    text-transform: capitalize;
}

.form__top input:focus {
    outline: 0;
}

.form__top input::placeholder {
    font-size: 14px;
    letter-spacing: 1px;
}

.form__middle {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}

.form__middle textarea {
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
    font-size: 14px;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid rgb(10, 135, 31);
    text-transform: uppercase;
}

.form__middle textarea::placeholder {
    font-size: 16px;
    text-transform: capitalize;
}

.form__middle textarea:focus {
    outline: 0;
}


.form__bottom {
    width: 90%;
    margin-top: 20px;
}

.checkbox {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    color: rgb(10, 135, 31);
    font-weight: 500;
}

.checkbox input {
    cursor: pointer;
}

.checkbox p {
    font-size: 16px;
    margin-left: 15px;
}

.send__btn {
    width: 100%;
    height: 35px;
    background-color: rgb(255, 255, 255);
    color: rgb(10, 135, 31);
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgb(10, 135, 31);
    transition: 0.5s;
}

.send__btn:hover {
    background-color: rgb(10, 135, 31);
    color: rgb(255, 255, 255);
}