@media screen and (max-width: 1079px) and (min-width: 768px) {
  /*HEADER*/

  #phone {
    display: none;
  }
  #header-top-content {
    width: 80%;
  }
  .header-bottom img {
    display: none;
  }

  #header-bottom-content {
    width: 80%;
    justify-content: right;
  }

  #navigation {
    width: 100%;
  }

  #navigation li a {
    margin-left: 45px;
  }

  /*HOME*/
  #home-content {
    width: 80%;
  }
  .home-content-start-left img {
    display: none;
  }

  #services-home {
    grid-template-columns: 1fr;
  }

  #vertical-line-2 {
    height: 290px;
  }

  #home-contact-bottom {
    width: 80%;
  }
  /*FOOTER*/
  #footer-content {
    width: 80%;
  }
  .footer-top {
    flex-direction: column;
    gap: 20px;
  }
  #footer-top-right {
    flex-direction: column;
    width: 100%;
  }
  .footer-top-right-left p {
    width: 200%;
  }
  .footer-bottom {
    margin-top: -150px;
  }

  /*RIGHTS*/
  #imprint-content {
    width: 80%;
  }

  #privacy-content {
    width: 80%;
  }

  /*ABOUT*/
  #about-content {
    width: 80%;
  }

  #about-content-top {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
  }

  #about-content-bottom {
    width: 100%;
  }

  .about-content-bottom p {
    text-align: justify;
  }

  /*SERVICES*/
  #services-content {
    width: 80%;
  }

  #services-content-top {
    grid-template-columns: repeat(1, 1fr);
  }

  #service-icon-bottom p {
    text-align: center;
  }

  #imprint-content {
    width: 90%;
  }

  #privacy-content {
    width: 90%;
  }

  /*CONTACT*/
  #contact-content {
    width: 80%;
  }

  #contact-content-top {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 80px;
  }
}

@media screen and (max-width: 640px) and (min-width: 360px) {
  /*HEADER*/
  #phone {
    display: none;
  }
  #instagram {
    display: none;
  }
  #header-top-content {
    width: 90%;
    justify-content: center;
  }
  .header-top-content p {
    font-size: 14px;
  }
  #header-bottom {
    height: 60px;
  }
  .header-bottom img {
    display: none;
  }
  .home-content-start-left img {
    display: none;
  }

  #navigation {
    display: none;
  }

  #header-bottom-content {
    width: 90%;
    justify-content: right;
    padding-right: 20px;
  }

  #mobile-menu-show {
    display: block;
  }

  #mobile-menu-exit {
    display: block;
    font-size: 34px;
  }

  /*HOME*/
  #home-content {
    width: 90%;
  }
  #home-content-start-right-top h2 {
    font-size: 20px;
  }

  .vertical-line {
    height: 200px;
  }

  #home-content-start-right-top p {
    width: 100%;
    font-size: 14px;
  }

  #title h1 {
    font-size: 30px;
  }

  #title p {
    font-size: 16px;
  }

  #services-home {
    grid-template-columns: 1fr;
  }

  .home-about {
    flex-direction: column;
  }

  .vertical-line-2 {
    display: none;
  }

  #home-contact-middle {
    width: 100%;
  }

  #home-contact-bottom {
    width: 100%;
    top: -30px;
  }

  .form-top {
    flex-direction: column;
  }

  #form-top input {
    width: 100%;
  }

  #checkbox p {
    font-size: 14px;
  }

  /*FOOTER*/
  #footer-content {
    width: 80%;
  }

  .footer-content {
    justify-content: center;
    align-items: center;
  }
  .footer-top {
    flex-direction: column;
    gap: 20px;
  }

  #footer-top-left {
    width: 100%;
  }

  #footer-top-left-top {
    width: 100%;
  }

  #footer-top-left-top h2 {
    font-size: 18px;
  }

  #footer-top-left-top h5 {
    font-size: 12px;
  }

  #footer-btns {
    flex-direction: column;
  }

  .footer-btns button {
    font-size: 12px;
  }

  #footer-top-right {
    flex-direction: column;
    width: 100%;
  }

  .footer-top-right-left p {
    width: 200%;
  }

  .footer-bottom {
    margin-top: -70px;
  }

  .footer-bottom-bottom p {
    font-size: 12px;
  }

  /*ABOUT*/
  #about-content {
    width: 90%;
  }

  #about-content-top {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }

  #about-content-bottom {
    width: 100%;
  }

  .about-content-bottom p {
    text-align: justify;
  }

  /*SERVICES*/
  #services-content {
    width: 90%;
  }

  #services-content-top {
    grid-template-columns: repeat(1, 1fr);
  }

  #service-icon-bottom p {
    text-align: center;
  }

  /*RIGHTS*/
  #imprint-content {
    width: 90%;
  }

  #privacy-content {
    width: 90%;
  }
  #privacy-content h1 {
    font-size: 28px;
  }
  /*CONTACT*/
  #contact-content {
    width: 90%;
  }

  #contact-content-top {
    grid-template-columns: repeat(1, 1fr);
  }
}
