@media screen and (max-width: 1760px) {
  #footer-top-left {
    width: 60%;
  }

  #footer-top-right {
    gap: 20px;
    width: 50%;
  }
}

@media screen and (max-width: 1620px) {
  /*footer*/
  .footer-content {
    justify-content: center;
    align-items: center;
  }
  .footer-top {
    flex-direction: column;
    gap: 20px;
  }

  #footer-top-left {
    width: 100%;
  }

  #footer-top-right {
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
  }

  .footer-top-right-left p {
    width: 200%;
  }
}

@media screen and (max-width: 1320px) and (min-width: 1201px) {
  /*header*/

  #header-top-content {
    width: 80%;
  }
  #header-bottom-content {
    width: 80%;
  }
  #header-bottom-content-on-scroll {
    width: 80%;
  }

  /*home-page*/
  #services-home {
    grid-template-columns: repeat(2, 1fr);
  }
  #home-content {
    width: 80%;
  }
  /*footer*/
  #footer-content {
    width: 80%;
  }
  #footer-top-left {
    width: 100%;
  }

  /*about*/
  #about-content {
    width: 80%;
  }

  /*services*/
  #services-content {
    width: 80%;
  }

  /*contact*/
  #contact-content {
    width: 80%;
  }

  /*imprint*/
  #imprint-content {
    width: 80%;
  }

  /*privacy*/
  #privacy-content {
    width: 80%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 1025px) {
  /*header*/

  #header-top-content {
    width: 80%;
  }
  #header-bottom-content {
    width: 80%;
  }
  #header-bottom-content-on-scroll {
    width: 80%;
  }

  /*home-page*/
  .home-content-start-left img {
    display: none;
  }
  #services-home {
    grid-template-columns: repeat(2, 1fr);
  }
  #home-content {
    width: 80%;
  }

  #vertical-line-2 {
    height: 220px;
  }

  /*about*/
  #about-content {
    width: 80%;
  }
  #about-content-bottom {
    text-align: justify;
  }

  /*services*/
  #services-content {
    width: 80%;
  }
  #service-icon-bottom-text {
    width: 120%;
  }

  /*contact*/
  #contact-content {
    width: 80%;
  }

  /*footer*/
  #footer-content {
    width: 80%;
  }
  .footer-content {
    justify-content: center;
    align-items: center;
  }
  .footer-top {
    flex-direction: column;
    gap: 20px;
  }

  #footer-top-left {
    width: 100%;
  }

  #footer-top-right {
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
  }

  .footer-top-right-left p {
    width: 200%;
  }

  /*imprint*/
  #imprint-content {
    width: 80%;
  }

  /*privacy*/
  #privacy-content {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  /*header*/

  #header-top-content {
    width: 80%;
  }
  #header-bottom-content {
    height: 60px;
  }

  #phone {
    display: none;
  }
  #instagram {
    margin-right: 2px;
  }

  #navigation {
    display: none;
  }

  #header-bottom-content {
    width: 80%;
    justify-content: right;
  }

  #mobile-menu-show {
    display: block;
  }

  #mobile-menu-exit {
    display: block;
    font-size: 34px;
  }

  .header-bottom-content img {
    display: none;
  }

  /*home-page*/
  /* .home-content-start-left img {
    display: none;
  } */
  #home-content-start-left h2:after {
    content: "Ihr Partner rund um Geb채ude und Garten!";
  }
  #home-content-start-right {
    display: none;
  }
  #services-home {
    grid-template-columns: repeat(1, 1fr);
  }
  #home-content {
    width: 80%;
  }
  .home-about {
    flex-direction: column;
  }
  #vertical-line {
    display: none;
  }

  #vertical-line-2 {
    display: none;
  }

  /*about*/
  #about-content {
    width: 80%;
  }

  #about-content-top {
    grid-template-columns: repeat(2, 1fr);
  }
  #about-content-bottom {
    text-align: justify;
  }

  /*services*/
  #services-content {
    width: 80%;
  }
  #services-content-top {
    grid-template-columns: repeat(2, 1fr);
  }
  #service-icon-bottom-text {
    width: 120%;
  }

  /*contact*/
  #contact-content {
    width: 80%;
  }

  #contact-content-top {
    grid-template-columns: repeat(2, 1fr);
  }

  /*footer*/
  #footer-content {
    width: 80%;
  }
  .footer-content {
    justify-content: center;
    align-items: center;
  }
  .footer-top {
    flex-direction: column;
    gap: 20px;
  }

  #footer-top-left {
    width: 100%;
  }

  #footer-top-right {
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
  }

  .footer-top-right-left p {
    width: 200%;
  }

  /*imprint*/
  #imprint-content {
    width: 80%;
  }

  /*privacy*/
  #privacy-content {
    width: 80%;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  /* .service-icon:hover .service-icon-top p {
    background: white !important; /* Revert to default background */
  /*transform: rotate(
      45deg
    ) !important; /* Keep the initial rotation but remove scaling */
  /*color: inherit !important; /* Revert to default color */
  /*pointer-events: none; /* Disable hover interaction */
  /*transition: none !important; /* Disable transitions */

  /* .service-card a:hover .service-card-left p {
    background: none;
    transform: rotate(
      45deg
    ) !important; /* Keep the initial rotation but remove scaling */
  /*color: black !important; /* Revert to default color */
  /*pointer-events: none; /* Disable hover interaction */
  /*transition: none !important; /* Disable transitions */
  /*header*/

  #header-top-content {
    width: 85%;
    justify-content: center;
  }
  #header-bottom-content {
    width: 85%;
    height: 60px;
    justify-content: center;
  }
  #header-bottom-content-on-scroll {
    width: 85%;
    padding-right: 20px;
  }

  #phone {
    display: none;
  }

  .header-social {
    display: none;
  }

  #navigation {
    display: none;
  }

  .header-bottom-content img {
    display: none;
  }

  #header-bottom-content {
    width: 85%;
    justify-content: right;
  }

  #mobile-menu-show {
    display: block;
  }

  #mobile-menu-exit {
    display: block;
    font-size: 34px;
  }

  /*home-page*/

  #home-content-start-left h2:after {
    font-size: 20px;
    content: "Ihr Partner rund um Geb채ude und Garten!";
  }
  #home-content-start-right {
    display: none;
  }

  #home-content-start-left img {
    height: 220px;
  }

  .home-about {
    flex-direction: column;
  }

  #vertical-line {
    display: none;
  }

  #home-content-start-right-top p {
    width: 100%;
    font-size: 16px;
  }
  /* .home-content-start-left img {
    display: none;
  } */
  #services-home {
    grid-template-columns: repeat(1, 1fr);
  }
  #home-content {
    width: 85%;
  }

  #vertical-line-2 {
    display: none;
  }

  #home-contact-middle {
    width: 118%;
  }
  #home-contact-bottom {
    width: 100%;
    top: -30px;
    margin-bottom: 80px;
  }

  /*about*/
  #about-content {
    width: 85%;
  }

  #about-content-top {
    grid-template-columns: repeat(1, 1fr);
  }
  #about-content-bottom {
    text-align: justify;
  }

  /*services*/
  #services-content {
    width: 85%;
  }
  #services-content-top {
    grid-template-columns: repeat(1, 1fr);
  }
  #service-icon-bottom-text {
    width: 120%;
  }

  #service-card a {
    width: 360px;
    height: 162px;
  }

  /*contact*/
  #contact-content {
    width: 85%;
  }

  #contact-content-top {
    grid-template-columns: repeat(1, 1fr);
  }

  /*footer*/
  #footer-content {
    width: 85%;
  }
  .footer-content {
    justify-content: center;
    align-items: center;
  }
  .footer-top {
    flex-direction: column;
    gap: 20px;
  }

  #footer-top-left {
    width: 100%;
  }

  #footer-top-left-top h2 {
    font-size: 24px;
  }
  #footer-top-right {
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
  }

  .footer-top-right-left p {
    width: 200%;
  }

  .footer-btns {
    flex-direction: column;
    margin-bottom: 10px;
  }

  /*imprint*/
  #imprint-content {
    width: 85%;
  }

  /*privacy*/
  #privacy-content {
    width: 85%;
  }

  /*page not found*/
  #page-not-found-content {
    width: 80%;
  }
  .page-not-found-content-top h3 {
    text-align: center;
  }
  .page-not-found-content-top p {
    text-align: center;
  }
}

@media screen and (max-width: 480px) and (min-width: 370px) {
  /*HOVER EFFECTS*/
  /* .service-icon:hover .service-icon-top p {
    background: white !important; /* Revert to default background */
  /*transform: rotate(
      45deg
    ) !important; /* Keep the initial rotation but remove scaling */
  /*color: inherit !important; /* Revert to default color */
  /*pointer-events: none; /* Disable hover interaction */
  /*transition: none !important; /* Disable transitions */

  /* .service-card a:hover .service-card-left p {
    background: none;
    transform: rotate(
      45deg
    ) !important; /* Keep the initial rotation but remove scaling */
  /*color: black !important; /* Revert to default color */
  /*pointer-events: none; /* Disable hover interaction */
  /*transition: none !important; /* Disable transitions */

  /*header*/

  #phone {
    display: none;
  }
  .header-social {
    display: none;
  }
  #header-top-content {
    width: 90%;
    justify-content: center;
  }
  .header-top-content p {
    font-size: 14px;
  }
  #header-bottom {
    height: 60px;
  }
  .header-bottom img {
    display: none;
  }

  #navigation {
    display: none;
  }

  #header-bottom-content {
    width: 90%;
    justify-content: right;
  }

  #mobile-menu-show {
    display: block;
  }

  #mobile-menu-exit {
    display: block;
    font-size: 34px;
  }

  /*home-page*/

  #home-content-start-left h2:after {
    font-size: 18px;
    content: "Ihr Partner rund um Geb채ude und Garten!";
  }
  #home-content-start-right {
    display: none;
  }

  #home-content-start-left img {
    height: 170px;
  }

  #title h1 {
    font-size: 30px;
  }

  #title p {
    font-size: 16px;
  }
  #home-content-start {
    gap: 20px;
  }
  #home-content-start-right-top h2 {
    font-size: 24px;
  }
  .home-about {
    flex-direction: column;
  }

  #vertical-line {
    display: none;
  }

  #home-content-start-right-top p {
    width: 100%;
    font-size: 16px;
  }
  .home-content-start-left {
    display: none;
  }
  #services-home {
    grid-template-columns: repeat(1, 1fr);
  }
  #home-content {
    width: 85%;
  }

  #vertical-line-2 {
    display: none;
  }

  #home-contact-middle {
    width: 118%;
  }
  #home-contact-bottom {
    width: 100%;
    top: -30px;
    margin-bottom: 80px;
  }

  .form-top {
    flex-direction: column;
  }

  #form-top input {
    width: 100%;
  }
  #form-middle {
    width: 100%;
  }

  /*about*/
  #about-content {
    width: 85%;
  }

  #about-content-top {
    grid-template-columns: repeat(1, 1fr);
  }
  #about-content-bottom {
    text-align: justify;
    font-size: 16px;
  }

  /*services*/
  #services-content {
    width: 85%;
  }
  #services-content-top {
    grid-template-columns: repeat(1, 1fr);
  }
  #service-icon-bottom-text {
    width: 120%;
  }

  #service-card a {
    width: 335px;
    height: 151px;
  }

  #service-card-right h3 {
    font-size: 18px;
  }

  /*contact*/
  #contact-content {
    width: 85%;
  }

  #contact-content-top {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 80px;
  }

  /*footer*/
  #footer-content {
    width: 85%;
  }
  .footer-content {
    justify-content: center;
    align-items: center;
  }
  .footer-top {
    flex-direction: column;
    gap: 20px;
  }

  #footer-top-left {
    width: 100%;
  }

  #footer-top-left-top h2 {
    font-size: 18px;
  }
  #footer-top-left-top h5 {
    font-size: 14px;
  }
  #footer-top-right {
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
  }

  .footer-top-right-left p {
    width: 200%;
  }

  .footer-btns {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .footer-bottom-bottom p {
    font-size: 14px;
  }

  /*imprint*/
  #imprint-content {
    width: 85%;
  }
  #imprint-content h1 {
    text-align: left;
    font-size: 30px;
  }

  /*privacy*/
  #privacy-content {
    width: 85%;
  }

  #privacy-content h1 {
    font-size: 26px;
  }

  #service-icon-bottom h3 {
    font-size: 16px;
  }

  #service-icon-bottom-text h3 {
    font-size: 16px;
  }

  #service-icon-bottom-text p {
    font-size: 16px;
  }

  /*page not found*/
  #page-not-found-content {
    width: 85%;
  }

  #page-not-found-content-top h1 {
    font-size: 30px;
  }
  #page-not-found-content-top h3 {
    text-align: center;
    font-size: 18px;
  }
  #page-not-found-content-top p {
    text-align: center;
    font-size: 16px;
  }
}

@media screen and (max-width: 369px) and (min-width: 320px) {
  /*HOVER EFFECTS*/
  .service-icon:hover .service-icon-top p {
    background: white !important; /* Revert to default background */
    transform: rotate(
      45deg
    ) !important; /* Keep the initial rotation but remove scaling */
    color: inherit !important; /* Revert to default color */
    pointer-events: none; /* Disable hover interaction */
    transition: none !important; /* Disable transitions */
  }

  .service-card a:hover .service-card-left p {
    background: none;
    transform: rotate(
      45deg
    ) !important; /* Keep the initial rotation but remove scaling */
    color: black !important; /* Revert to default color */
    pointer-events: none; /* Disable hover interaction */
    transition: none !important; /* Disable transitions */
  }
  #phone {
    display: none;
  }
  .header-social {
    display: none;
  }
  #header-top-content {
    width: 90%;
    justify-content: center;
  }
  .header-top-content p {
    font-size: 12px;
  }
  #header-bottom {
    height: 60px;
  }
  .header-bottom img {
    display: none;
  }

  #navigation {
    display: none;
  }

  #header-bottom-content {
    width: 90%;
    justify-content: right;
  }

  #mobile-menu-show {
    display: block;
  }

  #mobile-menu-exit {
    display: block;
    font-size: 34px;
  }

  /*home-page*/

  #home-content-start-left h2:after {
    font-size: 16px;
    content: "Ihr Partner rund um Geb채ude und Garten.";
  }
  #home-content-start-right {
    display: none;
  }

  #home-content-start-left img {
    height: 140px;
  }

  #title h1 {
    font-size: 30px;
  }

  #title p {
    font-size: 16px;
  }
  #home-content-start {
    gap: 20px;
  }
  #home-content-start-right-top h2 {
    font-size: 24px;
  }
  .home-about {
    flex-direction: column;
  }

  #vertical-line {
    display: none;
  }

  #home-content-start-right-top p {
    width: 100%;
    font-size: 16px;
  }
  .home-content-start-left {
    display: none;
  }
  #services-home {
    grid-template-columns: repeat(1, 1fr);
  }
  #home-content {
    width: 85%;
  }

  #vertical-line-2 {
    display: none;
  }

  #home-contact-middle {
    width: 118%;
  }
  #home-contact-bottom {
    width: 100%;
    top: -30px;
    margin-bottom: 80px;
  }

  .form-top {
    flex-direction: column;
  }

  #form-top input {
    width: 100%;
  }
  #form-middle {
    width: 100%;
  }

  /*about*/
  #about-content {
    width: 85%;
  }

  #about-content-top {
    grid-template-columns: repeat(1, 1fr);
  }
  #about-content-bottom {
    text-align: justify;
    font-size: 16px;
  }

  /*services*/
  #services-content {
    width: 85%;
  }
  #services-content-top {
    grid-template-columns: repeat(1, 1fr);
  }
  #service-icon-bottom-text {
    width: 120%;
  }

  #service-card a {
    width: 310px;
    height: 140px;
  }

  #service-card-right h3 {
    font-size: 18px;
  }

  /*contact*/
  #contact-content {
    width: 85%;
  }

  #contact-content-top {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 80px;
  }

  /*footer*/
  #footer-content {
    width: 85%;
  }
  .footer-content {
    justify-content: center;
    align-items: center;
  }
  .footer-top {
    flex-direction: column;
    gap: 20px;
  }

  #footer-top-left {
    width: 100%;
  }

  #footer-top-left-top h2 {
    font-size: 16px;
  }
  #footer-top-left-top h5 {
    font-size: 12px;
  }
  #footer-top-right {
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
  }

  .footer-top-right-left p {
    width: 200%;
  }

  .footer-btns {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .footer-bottom-bottom p {
    font-size: 14px;
  }

  /*imprint*/
  #imprint-content {
    width: 85%;
  }
  #imprint-content h1 {
    text-align: left;
    font-size: 30px;
  }

  /*privacy*/
  #privacy-content {
    width: 85%;
  }

  #privacy-content h1 {
    font-size: 22px;
  }

  #service-icon-bottom h3 {
    font-size: 16px;
  }

  #service-icon-bottom-text h3 {
    font-size: 16px;
  }

  #service-icon-bottom-text p {
    font-size: 16px;
  }

  /*page not found*/
  #page-not-found-content {
    width: 85%;
  }

  #page-not-found-content-top h1 {
    font-size: 30px;
  }
  #page-not-found-content-top h3 {
    text-align: center;
    font-size: 18px;
  }
  #page-not-found-content-top p {
    text-align: center;
    font-size: 16px;
  }
}
