@media screen and (max-width: 1919px) {

    .header__top__content {
        width: 80%;
    }

    .header__bottom__content {
        width: 80%;
    }

    .header__bottom__content2 {
        width: 80%;
    }

    .home__page__content {
        width: 80%;
    }

    .footer__content {
        width: 80%;
    }
}

@media screen and (max-width: 1079px) and (min-width: 768px) {
    .header__top__stay__conected {
        display: none;
    }

    .header__top__kontakt {
        display: none;
    }

    .header__top__content {
        justify-content: center;
    }

    .header__bottom__content {
        width: 100%;
        justify-content: right;
    }

    .header__bottom__content2 {
        width: 100%;
        justify-content: right;
    }

    .navigation {
        display: none;
    }

    .mobile__menu__show {
        display: block;
        margin-right: 80px;
    }

    .mobile__menu__exit {
        display: block;
        margin-right: 80px;
    }

    .header__bottom img {
        display: none;
    }

    .home__page__content {
        width: 80%;
    }

    .home__page__start__left img {
        display: none;
    }

    .home__page__service__top p {
        text-align: center;
    }

    .home__page__about {
        flex-direction: column;
    }

    .home__page__about__left p {
        text-align: center;
    }

    .vertical__line2 {
        display: none;
    }

    .home__page__contact__top p {
        text-align: center;
    }

    .footer__top {
        flex-direction: column;
    }

    .footer__top__left {
        width: 100%;
    }

    .footer__top__left__top {
        width: 100%;

    }

    .footer__top__left__top button {

        margin-top: 50px;
    }

    .footer__top__left__bottom {
        margin-top: 20px;
    }

    .footer__top__right {
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
    }

    .footer__top__right__right {
        width: 100%;
        margin-top: 50px;

    }

    .footer__top__right__left {
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }

    .footer__top__right__left p {
        width: 100%;
    }
}

@media screen and (max-width: 640px) and (min-width: 360px) {
    .header__top__stay__conected {
        display: none;
    }

    .header__top__kontakt {
        display: none;
    }

    .header__top__content {
        justify-content: center;
    }

    .header__bottom__content {
        width: 100%;
        justify-content: right;
        height: 60px;
    }

    .header__bottom__content2 {
        width: 100%;
        justify-content: right;
    }

    .navigation {
        display: none;
    }

    .mobile__menu__show {
        display: block;
        margin-right: 30px;
        font-size: 30px;
    }

    .mobile__menu__exit {
        display: block;
        margin-right: 27px;
        font-size: 34px;
    }

    .header__bottom img {
        display: none;
    }

    .home__page__content {
        width: 80%;
    }

    .home__page__start__left img {
        display: none;
    }

    .home__page__service__top p {
        text-align: center;
    }

    .home__page__about {
        flex-direction: column;
        align-items: center;
    }

    .home__page__about__left p {
        text-align: center;
    }

    .home__page__about__right {
        width: 80%;

    }

    .vertical__line2 {
        display: none;
    }

    .home__page__contact__top p {
        text-align: center;
    }

    .footer__top {
        flex-direction: column;
    }

    .footer__top__left {
        width: 100%;
    }

    .footer__top__left__top {
        width: 100%;

    }

    .footer__top__left__top button {

        margin-top: 50px;
    }

    .footer__top__left__bottom {
        margin-top: 20px;
    }

    .footer__top__right {
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
    }

    .footer__top__right__right {
        width: 100%;
        margin-top: 50px;

    }

    .footer__top__right__left {
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }

    .footer__top__right__left p {
        width: 100%;
    }

    .footer__bottom__bottom {
        text-align: center;
    }

    .footer__btns {
        flex-direction: column;
    }

    .footer__btns button {
        margin-top: 10px;

    }

    .footer__top__left__top h2 {
        font-size: 18px;
    }

    .footer__top__left__top h5 {
        font-size: 12px;
    }

    .footer__top__left__bottom p {
        font-size: 12px;
    }

    .header__top__stay__conected__footer {
        font-size: 18px;
    }

    .home__page__content {
        width: 100%;
    }

    .home__page__start__right__top h2 {
        font-size: 20px;
    }

    .home__page__start__right__top p {
        width: 80%;
        font-size: 14px;
    }

    .vertical__line {
        height: 200px;
    }

    .service__card a {
        width: 200px;
        height: 320px;
    }

    .service__card__bottom h3 {
        font-size: 16px;
    }

    .service__card__bottom p {
        font-size: 15px;
        text-align: justify;
        -webkit-line-clamp: 6;
    }

    .home__page__service {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .home__page__service__bottom {
        width: 70%;
    }

    .header__top__content p {
        font-size: 12px;
    }

    .slick-dots li button:before {
        margin-top: 20px;
    }

    .home__page__service__top h1 {
        font-size: 30px;
    }

    #home__page__services__subtitle {
        font-size: 16px;
        width: 80%;
    }

    #services__subtitle {
        font-size: 16px;
        width: 80%;
        text-align: center;
    }

    .home__page__about__left h1 {
        font-size: 30px;
    }

    .home__page__contact__top h1 {
        font-size: 30px;
    }

    .about__content {
        width: 80%;
    }

    .about__content h1 {
        font-size: 30px;
    }

    #about__subtitle {
        font-size: 16px;
        width: 100%;
        text-align: center;
    }

    .about__top {
        grid-template-columns: repeat(1, 1fr);
        gap: 80px;
        justify-content: center;
    }

    .about__bottom {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #about__text {
        text-align: justify;
        width: 100%;
        font-size: 16px;
    }

    .about__component__top p {
        font-size: 35px;
    }

    .about__component__bottom h3 {
        font-size: 16px;
    }

    .services__content h1 {
        font-size: 30px;
    }

    #services__subtitle2 {
        font-size: 16px;
        width: 100%;
        text-align: center;
    }

    .service {
        grid-template-columns: 1fr;
        gap: 80px;
    }

    .service__component__top p {
        font-size: 35px;
    }

    .service__component__bottom h3 {
        font-size: 16px;
    }

    .service__component__bottom p {
        font-size: 14px;
        text-align: justify;
    }

    .contact__content h1 {
        font-size: 30px;
        text-align: center;
    }

    #contact__subtitle {
        font-size: 16px;
        width: 100%;
        text-align: center;
    }

    .contact__component__left p {
        font-size: 35px;
    }

    .contact__us {
        grid-template-columns: repeat(1, 1fr);
        gap: 80px;
    }

    .contact__component__right__top h3 {
        font-size: 16px;
        text-align: center;
    }

    .contact__component__right__bottom h5 {
        font-size: 16px;
        text-align: center;
    }
    .privacy__content {
        width: 80%;
    }

    .privacy__content h1 {
        font-size: 30px;
    }

    .privacy__content h2 {
        font-size: 26px;
    }

    .imprint__content {
        width: 80%;
    }

}