.header {
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.header-top {
  width: 100%;
  background-color: rgb(245, 245, 245);
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-top-content {
  width: 60%;
  height: 40px;
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#closed {
  color: red;
  font-weight: 500;
}
#phone {
  font-weight: 500;
}
#phone-num {
  color: rgb(10, 135, 31);
}

.social {
  display: flex;
  align-items: center;
  gap: 5px;
}

#instagram {
  color: rgb(193, 53, 132);
}

#facebook {
  color: rgb(24, 119, 242);
  font-size: 17px;
  margin-top: 1px;
}

#whatsapp {
  color: rgb(37, 211, 102);
  font-size: 17px;
  margin-top: 1px;
}

.header-bottom {
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-bottom-content {
  width: 60%;
  height: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-bottom-content-on-scroll {
  width: 60%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  list-style: none;
  margin-left: -90px;
}

.navigation li a {
  text-decoration: none;
  color: rgb(10, 135, 31);
  font-weight: 500;
  font-size: 16px;
  margin-left: 50px;
  padding-bottom: 3px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.navigation li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: rgb(10, 135, 31);
  transform: translate(-50%) scale(0);
  transition: 0.5s ease-in-out;
}

.navigation li a:hover::before {
  transform: translateX(-50%) scale(1);
}

.mobile-menu-show {
  margin-left: 200px;
  display: none;
  color: rgb(10, 135, 31);
  font-size: 30px;
  cursor: pointer;
  animation: rotate-exit 0.5s;
}

.mobile-menu-exit {
  display: none;
  color: rgb(10, 135, 31);
  font-size: 38px;
  cursor: pointer;
  animation: rotate 0.5s;
}

.mobile-menu {
  position: absolute;
  top: 99px;
  right: 0;
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 200px;
  z-index: 1;
  background-color: rgb(240, 240, 240);
  overflow-y: hidden;
  animation: mymove 0.8s;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.mobile-menu ul {
  width: 100%;
  height: auto;
  margin-top: 150px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  overflow: hidden;
}

.mobile-menu li a {
  color: rgb(10, 135, 31);
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
}

.mobile-social {
  border-top: 2px solid rgb(10, 135, 31);
  padding-top: 10px;
}

.fixed-position {
  position: fixed;
}

@keyframes mymove {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
@keyframes rotate-exit {
  0% {
    transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
